<perfect-scrollbar style="max-width: 618px; max-height: 400px;"  [config]="config">

<div id="background" fxLayout="row" class='container' [dragula]='bag' [(dragulaModel)]='players' fxLayoutGap="3px" [ngStyle]="{'width.px': getContentBarWidth(), 'height.px': getContentBarHeight()}">

  <div  id="playerSelectionDisplay"
        fxLayout="column"
        fxLayoutAlign="center center"
        [fxFlex]='getContentSize()'
         *ngFor='let player of players'>
    <img src={{player.getImageSrc()}}/>
    <div id="name">{{player.$LastName}}</div>
  </div>
</div>
</perfect-scrollbar>
